language: cpp
compiler:
  - gcc
  - clang
before_script:
 - sudo apt-get update
 - sudo apt-get install libboost-all-dev libtolua-dev bc libcdb-dev libnet-dns-perl unbound-host ldnsutils dnsutils bind9utils libtool libcdb-dev xmlto dblatex links asciidoc ruby-json ruby-sqlite3 rubygems libcurl4-openssl-dev ruby1.9.1 socat time cmake
 - sudo sed -i '0,/\[mysqld\]/s//[mysqld]\nskip-character-set-client-handshake/' /etc/mysql/my.cnf
 - sudo restart mysql
 - cd regression-tests
 - wget http://s3.amazonaws.com/alexa-static/top-1m.csv.zip
 - unzip top-1m.csv.zip
 - cd ..
script:
 - cmake .
 - make -j 4 all
notifications:
  irc:
    channels:
      - "irc.oftc.net#powerdns-dev"
    template:
      - "%{author} @ %{repository} / %{branch} - Build:#%{build_number} : %{message} - Changes: %{compare_url} - Build details: %{build_url}"
    use_notice: true
    skip_join: true
